<html>
    <head>
        <meta charset="UTF-8">
        <title>Admin panel</title>
        <center><h2><u>Admin for Finance consumer complaint</u></h2></center>
    </head>
    <body>

        &emsp; > <a href='./list_page.html'>List of submitted complaints</a>
        <br><br>
        &emsp; > <a href='./check.html'>Check the complaint status</a>
        <br><br>
        &emsp; > <a href='./responce.html'>Respond to Pending complaints</a>
        
        <br><br><br><br>  
        &emsp; > <a href='/'>Home page</a>
    </body>
</html>  