<html>
    <body>
        <center>
            <h1>
                <u>Finance consumer complaint registration</u>
            </h1>
        </center>
        &emsp; > <a href='./application.html'>Click here to submit new complaint</a>
        <br><br>
        &emsp; > <a href='./check.html'>Click here to check your complaint status</a>
        <br><br><br><br><br><br>
        <u><h2>Only for admin</h2></u>  
        <br><br>
        &emsp; > <a href='./admin.html'>Admin Panel</a> 

  
    </body>
</html>  